NODE_ENV=production
PORT=9009

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:9009 # Base URL of your app

NUXT_PRIVATE_GITHUB_CLIENT_ID=
NUXT_PRIVATE_GITHUB_CLIENT_SECRET=
NUXT_PRIVATE_GOOGLE_CLIENT_ID=
NUXT_PRIVATE_GOOGLE_CLIENT_SECRET=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

NUXT_PUBLIC_BASE_URL=http://localhost:9009
NUXT_PRIVATE_DATABASE_URL=postgresql://user:password@localhost:5432/dbname # Your database connection string

POLAR_ACCESS_TOKEN=
POLAR_SERVER=sandbox

# EMAIL PROVIDER
NUXT_PRIVATE_EMAIL_CONTACT=michael.hoffmann@mokkapps.de
NUXT_PRIVATE_FROM_EMAIL=info@nuxtstarterkit.com
NUXT_PRIVATE_EMAIL_SEND_IN_DEV_MODE=true
NUXT_PRIVATE_EMAIL_PROVIDER=plunk
NUXT_PRIVATE_EMAIL_PLUNK_API_URL=
NUXT_PRIVATE_EMAIL_PLUNK_API_KEY=