NODE_ENV=production
PORT=9009

NUXT_PUBLIC_BASE_URL=http://localhost:9009
NUXT_PUBLIC_ADMIN_DEMO_MODE_ENABLED=false

# better-auth settings
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:9009 # Base URL of your app

NUXT_PRIVATE_GITHUB_CLIENT_ID=
NUXT_PRIVATE_GITHUB_CLIENT_SECRET=
NUXT_PRIVATE_GOOGLE_CLIENT_ID=
NUXT_PRIVATE_GOOGLE_CLIENT_SECRET=

## Database settings
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

NUXT_PRIVATE_DATABASE_URL=

## Redis (Cache) settings
NUXT_PRIVATE_REDIS_URL=

## Polar (Payment) settings
POLAR_ACCESS_TOKEN=
POLAR_SERVER=

NUXT_PRIVATE_POLAR_ACCESS_TOKEN=
NUXT_PRIVATE_POLAR_ORGANIZATION_ID=
NUXT_PRIVATE_POLAR_SERVER=

## Email settings
NUXT_PRIVATE_EMAIL_CONTACT=
NUXT_PRIVATE_FROM_EMAIL=
NUXT_PRIVATE_EMAIL_SEND_IN_DEV_MODE=true
NUXT_PRIVATE_EMAIL_PROVIDER=plunk
NUXT_PRIVATE_EMAIL_PLUNK_API_URL=
NUXT_PRIVATE_EMAIL_PLUNK_API_KEY=

# Storage settings
NUXT_PRIVATE_STORAGE_PROVIDER=s3 # s3 or local
NUXT_PRIVATE_STORAGE_UPLOAD_DIR=

# when NUXT_PRIVATE_STORAGE_PROVIDER is local
NUXT_PRIVATE_STORAGE_LOCAL_PUBLIC_PATH=/uploads

# when NUXT_PRIVATE_STORAGE_PROVIDER is s3
NUXT_PRIVATE_STORAGE_S3_ACCESS_KEY_ID=
NUXT_PRIVATE_STORAGE_S3_SECRET_ACCESS_KEY=
NUXT_PRIVATE_STORAGE_S3_BUCKET_NAME=
NUXT_PRIVATE_STORAGE_S3_ENDPOINT=  # optional, defaults to https://s3.amazonaws.com
NUXT_PRIVATE_STORAGE_S3_PUBLIC_URL= # optional, defaults to `https://${bucketName}.s3.amazonaws.com/${path}`
NUXT_PRIVATE_STORAGE_S3_REGION= #optional, defaults to 'us-east-1'