NODE_ENV=production
PORT=9009

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:9009 # Base URL of your app

NUXT_PRIVATE_GITHUB_CLIENT_ID=
NUXT_PRIVATE_GITHUB_CLIENT_SECRET=
NUXT_PRIVATE_GOOGLE_CLIENT_ID=
NUXT_PRIVATE_GOOGLE_CLIENT_SECRET=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

NUXT_PUBLIC_BASE_URL=http://localhost:9009
NUXT_PRIVATE_DATABASE_URL=postgresql://user:password@localhost:5432/dbname # Your database connection string

POLAR_ACCESS_TOKEN=
POLAR_SERVER=sandbox

# EMAIL PROVIDER
NUXT_PRIVATE_EMAIL_CONTACT=michael.hoffmann@mokkapps.de
NUXT_PRIVATE_FROM_EMAIL=info@nuxtstarterkit.com
NUXT_PRIVATE_EMAIL_SEND_IN_DEV_MODE=true
NUXT_PRIVATE_EMAIL_PROVIDER=plunk
NUXT_PRIVATE_EMAIL_PLUNK_API_URL=
NUXT_PRIVATE_EMAIL_PLUNK_API_KEY=

# BLOB
NUXT_PRIVATE_STORAGE_PROVIDER=s3 # r2, s3 or local

# when NUXT_PRIVATE_STORAGE_PROVIDER is local
NUXT_PRIVATE_STORAGE_LOCAL_UPLOAD_DIR=./uploads
NUXT_PRIVATE_STORAGE_LOCAL_PUBLIC_PATH=/uploads

# when NUXT_PRIVATE_STORAGE_PROVIDER is s3
NUXT_PRIVATE_STORAGE_S3_ACCESS_KEY_ID=
NUXT_PRIVATE_STORAGE_S3_SECRET_ACCESS_KEY=
NUXT_PRIVATE_STORAGE_S3_BUCKET_NAME=
NUXT_PRIVATE_STORAGE_S3_ENDPOINT=
NUXT_PRIVATE_STORAGE_S3_PUBLIC_URL= # optional
NUXT_PRIVATE_STORAGE_S3_REGION= # optional

# when NUXT_PRIVATE_STORAGE_PROVIDER is r2
# https://dash.cloudflare.com/?to=/:account/r2/api-tokens
NUXT_PRIVATE_STORAGE_R2_ACCESS_KEY_ID=
NUXT_PRIVATE_STORAGE_R2_SECRET_ACCESS_KEY=
NUXT_PRIVATE_STORAGE_R2_ACCOUNT_ID=
NUXT_PRIVATE_STORAGE_R2_BUCKET_NAME=
NUXT_PRIVATE_STORAGE_R2_PUBLIC_URL= #optional
